@import "tailwindcss";

@layer utilities {
  .absolutePoisition {
    @apply absolute top-1/2 left-1/2 -translate-1/2;
  }
}

@theme {
  --color-primary: #1f2937;
  --color-accent: #2c3e50;
  --color-secondary: #e74c3c;
  --background-image-pattern: url(./pattern.webp);
}

.filtershadow {
  filter: drop-shadow(0 10px rgba(0, 0, 0, 0.3));
}
